:root {
    --verde-escuro: rgb(182, 222, 197);
    --verde-claro: rgb(218, 237, 206);
    --preto: rgb(35, 11, 0);
    --cinza-escuro: #a0a0a0;
    --cinza-medio: rgb(222, 222, 222);
    --cinza-claro: rgb(230, 230, 230);
    --roboto-mono: 'Ubuntu';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: var(--roboto-mono), sans-serif;
}

body {
  height: 100vh;
  background-image: url(../img/background.svg);
  padding-top: 3.92rem;
  display: flex;
  flex-flow: column nowrap;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    width: 85%;
    margin: auto;
}

nav ul li {
    list-style: none;
    display: inline;
    text-align: center;
    padding: 0 2rem;
    font-size: 1.6rem;
}

nav ul {
    text-align: end;
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--preto);
}

#btn-home {
    color: var(--verde-escuro);
}

main {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--preto)
}

#photo-home {
    max-width: 450px;
}

h1 {
    font-size: 4.5rem;
}

h3 {
    font-size: 1.7rem;
    display: inline;
}

h2 {
    font-size: 2.2rem;
}

#linha {
    border: 0.1rem solid var(--verde-escuro);
}